@font-face {
    font-family: "Teko";
    src: url("../font/Teko-Medium.356d14.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: "Krisha";
    src: url("../font/Krisha-Regular.woff") format("woff");
    font-weight: 300;
    font-style: normal;
}

@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@300;500&display=swap");
